<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <insert id="insert">
        INSERT INTO user(id, username, password) VALUES(#{id}, #{username}, #{password})
    </insert>
    <select id="selectById" resultType="java.util.Map">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <update id="updateUsernameById">
        UPDATE user SET username=#{username} WHERE id=#{id}
    </update>
    <delete id="deleteById">
        DELETE FROM user WHERE id=#{id}
    </delete>
</mapper>